h1 {
    text-align: center;
    color: white !important;
}

.wrap-product{
    background-color: rgba($color: #000000, $alpha: 0.5) ;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 35px;
}

.product-img {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 70%;
        height: 80%;
    }
}

.detail-wrap{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .detail-content{
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            color: #fac564 !important;
        }
        p{
            color: gray;
            font-style: italic;
        }
        
        h4 {
            color: white;
        }

        .number-input{
            width: 70px;
        }

        .button-buy {
            margin-top: 20px;
            width: 50%;
        }

    }
}

.add-comment{

    width: 100%;
}
.wrap-review{
    // background-color: aliceblue;
    background-color: white;
    margin-top: 15px;
    padding-top: 15px;
    button {
        width: 100%;
    }
    .wrap-comment {
        margin: 5px;
        border-bottom: black solid 1px;
    
        p{
            margin-left: 15px;
        }
    
        .user-comment{
            display: flex;
            flex-direction: row;

            .user-name{
                color: #385898;
            }
    
            p{
                margin-left: 15px;
                font-weight: 600;
            }
    
            .star{
                color: #fac564 ;
                margin-top: 4px;
                 
            }
        }
    }
}


p{
    color: black;
}