.wrap-content{

    min-height: 500px;
    width: 100%;
    
    .wrap-item{
        border-bottom: 1px white solid;
        min-height: 350px;
        margin-bottom: 20px;
        
        .item{
            display: flex;
            margin-left: 40%;

            img{
                height: 30px;
                width: 30px;
            }

            p{
                margin: 5px;
                color: white;
            }

            button {
                margin-bottom: 15px;
                height: 40px;
                width: 70px;
            }
        }
    }

    .wrap-total{
        margin-left: 30%;
        h1 {
            color: #fac564 !important;
        }
    }
    .wrap-address{
        width: 100%;
        p{
            color: white;
            margin-bottom: 3px;
        }
    }
    .wrap-phone{
        width: 100%;
        margin-bottom: 50px;
        p{
            margin-bottom: 3px;
            color: white;
        }
    }
    .wrap-button{
        text-align: center;
    }
}